@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: black;
    font-family: 'Playfair Display', serif;
}

.box-shadow{
    background: #131313;
box-shadow: inset 0px 0px 9px rgba(255, 255, 255, 0.25);
}

.bgGradient{
    background: linear-gradient(90.24deg, rgba(24, 24, 24, 0.9) 67.95%, rgba(183, 232, 42, 0.504) 161.04%);
}